<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljr.server.mapper.IMsgMapper">


    <insert id="insertMsg">
        insert into myqq.msg(msg_content,msg_sendfrom,msg_sendto,msg_sendtime,msg_remark,msg_type)
        values (#{msgContent},#{sendFrom},#{sendTo},CURRENT_TIMESTAMP,#{remark},#{msgType})
    </insert>
    <update id="updateMsg">
        update msg
        <set>
            <if test="msgContent != null AND msgContent != ''">
                msg_content = #{msgContent}
            </if>
        <if test="sendFrom != null AND sendFrom != ''">
            sendFrom = #{sendFrom}
        </if>
        <if test="sendTo !+ null AND sendTo != ''">
            sendTo = #{sendTo}
        </if>
        <if test="remark != null AND remark != ''">
            remark = #{remark}
        </if>
        <if test="type != null AND type != ''">
            msg_type = #{msgType}
        </if>
        </set>
        where msg_id = #{msgId}

    </update>
    <delete id="deleteMsg">
        delete from msg where msg_id = #{msgId}
    </delete>
    <delete id="deleteMsgBySendTO">
        delete from msg
        where msg_sendto = #{sendTo}
    </delete>
    <select id="selectAMsg" resultType="com.ljr.server.entity.Msg">
        select * from MSG where msg_id = #{msgId}
    </select>
    <select id="selectMsgs" resultType="com.ljr.server.entity.Msg">
        select * from msg
    </select>
    <select id="selectMsgBySendTo" resultType="com.ljr.server.entity.Msg">
        select * from MSG where msg_sendto = #{sendTo}
    </select>
    <select id="selectMsgBySendFrom" resultType="com.ljr.server.entity.Msg">
        select * from msg where msg_sendfrom = #{sendFrom}
    </select>
</mapper>
